{% extends 'base.html' %}

{% block content %}
  <h1>Batch List for Course {{ course_id }}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Batch Number</th>
        <th>Course</th>
        <th>Members</th>
        <th>start_date</th>
        <th>end_date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for batch in batches %}
        <tr>
          <td>
            <a href="{% url 'student-list' batch.batch_number %}">
              Batch : &ensp;{{ batch.batch_number }}
            </a>
          </td>
          <td>{{ batch.course }}</td>
          <td>{{ batch.student_set.all|length }}</td>
          <td>{{ batch.start_date }}</td>
          <td>{{ batch.end_date }}</td>

          <td>
            <a href="{% url 'student-list' batch.batch_number %}" class="btn btn-primary">View</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
