{% extends 'base.html' %}

{% block content %}
  <h1>Student List for Batch {{ batch_number }}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Admission Number</th>
        <th>Joining Date</th>
        <th>Image</th>
        <th>Actual Fees</th>
        <th>Fees Paid</th>
        <th>Resume</th>
        <th>Course</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td><a href="{% url 'student_detailss' student.id %}">{{ student.user.username }}</a></td>
          <td>{{ student.admission_number }}</td>
          <td>{{ student.joining_date }}</td>
          <td>
            {% if student.image %}
              <img src="{{ student.image.url }}" alt="Student Image" style="max-width: 50px; max-height: 50px;">
            {% else %}
              No Image
            {% endif %}
          </td>
          <td>{{ student.actual_fees }}</td>
          <td>{{ student.fees_paid }}</td>
          <td>
            {% if student.resume %}
              <a href="{{ student.resume.url }}" target="_blank">Download Resume</a>
            {% else %}
              No Resume
            {% endif %}
          </td>
          <td>{{ student.course.course_name }}</td>
          <td><a href="{% url 'edit_student_user' student.id %}">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
