{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2 class="text-center mb-4">Courses</h2>
    
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          {% for course in courses %}
            <li class="list-group-item">
              <h5>{{ course.course_name }}</h5>
              <p>{{ course.description }}</p>
              <a href="{% url 'get_course_by_id' course.id %}" class="btn btn-primary">Details</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
    <div class="text-center mt-4">
      <a href="{% url 'create_course' %}" class="btn btn-outline-success">Create Course</a>
    </div>
  </div>
{% endblock %}
